
<h1>About</h1>
OTCdelivery.com is a convenient way for patients to get their over-the-counter medicines since orders can be placed for delivery before leaving the doctor's office.
<br></br>

<h4>Improve Adherence</h4>
Studies have shown that mail-order pharmacies can improve treatment adherence.  We believe that by removing the initial trip to the pharmacy, we can help a greater number of patients get the medicine they need right away.
<br></br>

<h4>Recommendations</h4>
Which medicine to choose?  We try to make the decision-making process easy on patients by limiting the products we display to those recommended by our physician advisors and distributed by reputable vendors.  However, we are only a recommendation engine, and we do not ultimately control the product that is shipped.  