<%= render 'pages/home' %>

  <ul class="thumbnails">
    <li class="span4">
    	<div class="thumbnail">
    		<a href="http://www.amazon.com/gp/product/B0057UUGRU/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0057UUGRU&linkCode=as2&tag=otc0ca-20" class="thumbnail"><img border="0" src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&ASIN=B0057UUGRU&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=otc0ca-20" ></a><img src="http://www.assoc-amazon.com/e/ir?t=otc0ca-20&l=as2&o=1&a=B0057UUGRU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    		<h3>Mucinex</h3>
    		<p>What happens if this is a really long thumbnail caption...?  Huh, I wonder if it will push it down too far.</p>
    		<a class="btn btn-primary" href="http://www.amazon.com/gp/product/B0057UUGRU/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0057UUGRU&linkCode=as2&tag=otc0ca-20">
      		Add to Cart
    		</a>
    	</div>
    </li>
    <li class="span4">
    	<div class="thumbnail">
    		<a href="http://www.amazon.com/gp/product/B0057UUGRU/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0057UUGRU&linkCode=as2&tag=otc0ca-20" class="thumbnail"><img border="0" src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&ASIN=B0057UUGRU&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=otc0ca-20" ></a><img src="http://www.assoc-amazon.com/e/ir?t=otc0ca-20&l=as2&o=1&a=B0057UUGRU" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    		<h3>Thumbnail label</h3>
    		<p>Thumbnail caption...</p>
    		<a class="btn btn-primary" href="#">
      		Add to Cart
    		</a>
    	</div>
    </li>
    <li class="span4">
    	<div class="thumbnail">
    		<a href="http://www.amazon.com/gp/product/B0034KYA36/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0034KYA36&linkCode=as2&tag=otc0ca-20"><img border="0" src="http://ws.assoc-amazon.com/widgets/q?_encoding=UTF8&ASIN=B0034KYA36&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=otc0ca-20" ></a><img src="http://www.assoc-amazon.com/e/ir?t=otc0ca-20&l=as2&o=1&a=B0034KYA36" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

    		<h3>Thumbnail label</h3>
    		<p>Thumbnail caption...</p>
    		<a class="btn btn-primary" href="#">
      		Add to Cart
    		</a>
    	</div>
    </li>
  </ul>